
<h3>About</h3>

<p>The Which Server module that adds the server name to a Drupal
  site’s "Available updates" page, and to the update notification emails
  sent by Drupal.</p>

<h3>Uses</h3>

<p>No configuration is required. When this module is enabled, the
  server name will now appear here:</p>

<ul>
  <li><a href="/admin/reports/status">Status Report page</a></li>
  <li><a href="/admin/modules">Modules page</a></li>
</ul>

<p>and also, if the core Update Manager module is enabled, here:</p>

<ul>
  <li><a href="/admin/reports/updates">Available Updates page</a></li>
  <li>Available Updates email notifications <a
    href="/admin/reports/updates/settings">(configured here)</a></li>
</ul>
